*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.BookSelect-title{
display: flex;
background-color: aqua;
height: 200px;


}

.BookSelect-totaly-number{ margin: auto;
font-size: 30px;
font-weight: bold;
}
.select-main{
background-color: aqua;
height: 1575px;
margin-top: 80px;
padding-left: 10px;
}
.select-title{
background-color:rgba(11, 3, 3, 0.731);
color: antiquewhite;
border-radius: 5px;
height: 30px;
width: 250px;
padding-left: 10px;
font-weight: bold;
font-size: 15px;

}
.container-allbook{
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-gap: 20px;
padding: 10px; 
border: 1px solid  transparent;
margin-left: 300px;
margin-right: 20px;
margin-top: 30px;

}
 .img-allbook-div{
border: 1px solid  wheat  ;
padding: 10px;
display: flex;
flex-direction: column;
justify-content: space-around;
text-align: left;
line-height: 25px;
}
.img-allbook-div h4{
text-align: center;

}




